/* generale */
.line_white {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.line_blue {
    width: 100%;
    height: 3px;
    background-color: #2c3e50;
}

h2 {
    padding: 60px 0 30px;
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

.fa-star {
    font-size: 25px;
}

/* header */
header {
    background-color: #2c3e50;
    height: 80px;
}

/* jumbotron */
#jumbotron {
    background-color: #1abc9c;
    color: #fff;
    padding-bottom: 30px;
}

#jumbotron img {
    width: 200px;
    margin-top: 50px;
    object-fit: cover;
}

#jumbotron h1 {
    font-size: 50px;
    padding: 20px 0 30px;
}

#jumbotron .works {
    font-size: 20px;
}

/* portfolio */
.portfolio {
    padding-bottom: 40px;
}

.portfolio .fa-star {
    color: #2c3e50;
}

.portfolio img {
    width: 100%;
    border-radius: 10px;
}

/* about */
.about {
    background-color: #1abc9c;
    color: #fff;
}

.about button {
    margin: 40px 0 50px;
}

/* contact */
.contact .fa-star {
    color: #2c3e50;
}

.contact {
    padding-bottom: 40px;
}

/* footer */
footer {
    color: #fff;
}

.footer_top {
    background-color: #3a546d;
    padding-bottom: 40px;
}

.footer_bottom {
    background-color: #2c3e50;
    font-size: 12px;
    height: 100px;
}

.footer_top a {
    color: #fff;
    text-decoration: none;
}

.footer_top i {
    border: 1px solid;
    padding: 15px;
    border-radius: 50%;
    margin: 5px;
}

.footer_top .fa-facebook-f {
    padding: 15px 20px;
}

.footer_top .green {
    color: #1abc9c;
}

.footer_bottom span {
    line-height: 100px;
    vertical-align: middle;
}

/* DEBUG */
/* [class*="col"] {
    background-color: yellow;
    border: 1px solid black;
    height: 50px;
}

header {
    background-color: blue;
}

footer {
    background-color: lime;
} */